*.label {
	-fx-background-color: transparent;
	-fx-text-fill: #000000;
}

/* root styles */
.root {
	-fx-background-color: #f2f2f2;
}

/* header styles */
.home_header {
	-fx-background-color: #FFFFFF;
	-fx-padding: 10 40;
	-fx-alignment: center;
}

.home_search {
	-fx-alignment: center;
}

.home_search .text-field {
	-fx-pref-width: 15em;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #b2b2b2;
	-fx-background-color: #ffffff;
}

.home_search .text-field:focused {
	-fx-focus-color: transparent;
	-fx-background-color: #f2f2f2f2;
}

/* sidebar styles */
.home_sidebar {
	-fx-pref-width: 17em;
	-fx-padding: 20 12;
	-fx-spacing: 5;
}

.home_sidebar .home_sidebar_header {
	-fx-padding: 10px 5px;
	-fx-font-size: 8pt;
	-fx-pref-width: Infinity;
}

.home_sidebar .home_sidebar_action {
	-fx-pref-width: Infinity;
	-fx-padding: 5px 10px;
	-fx-alignment: center-left;
	-fx-font-size: 10pt;
	-fx-font-weight: bold;
	-fx-background-radius: 5;
	-fx-background-insets: 0;
	-fx-background-color: #f2f2f2;
	-fx-cursor: hand;
}

.home_sidebar .home_sidebar_action:hover,
.home_sidebar .home_sidebar_action.active {
	-fx-background-color: #d9d9d9;
}

.home_sidebar .home_sidebar_action:focused {
	-fx-focus-color: transparent;
}

/* special container styles */
.home_special_container {
	-fx-padding: 20px 0 0 0;
	-fx-spacing: 5;
	-fx-alignment: center;
}

.home_special_container .home_sidebar_special {
	-fx-padding: 5px;
	-fx-pref-width: 10em;
	-fx-font-size: 9pt;
	-fx-background-insets: 0;
	-fx-background-color: #f2f2f2;
	-fx-border-radius: 20;
	-fx-border-width: 2;
	-fx-border-color: #d9d9d9;
	-fx-cursor: hand;
	-fx-end-margin: 12;
}

.home_special_container .home_sidebar_special:hover {
	-fx-background-color: #d9d9d9;
	-fx-background-radius: 20;
}

.home_special_container .home_sidebar_special:pressed {
	-fx-background-color: #c8c8c8;
	-fx-border-color: #c8c8c8;
}


/* dialog styles */
.dialog_container {
	-fx-padding: 10;
}

.dialog_container .dialog_options {
	-fx-alignment: top-center;
	-fx-padding: 20 15 0 15;
	-fx-vgap: 15;
	-fx-hgap: 10;
}

.dialog_container .dialog_options .text-field {
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #b2b2b2;
	-fx-background-insets: 0;
	-fx-background-color: transparent;
	-fx-padding: 8;
	-fx-font-size: 9pt;
}

.dialog_container .dialog_options .label {
	-fx-font-size: 9pt;
	-fx-alignment: baseline-center;
}

.dialog_container .dialog_options .button_select {
	-fx-background-color: transparent;
	-fx-font-size: 10pt;
	-fx-alignment: baseline-center;
	-fx-cursor: hand;
}

.dialog_container .dialog_options .button_select:hover,
.dialog_container .dialog_options .button_select:focused {
	-fx-background-color: #d9d9d9;
}

.dialog_container .dialog_options .button_select:pressed {
	-fx-background-color: #c8c8c8;
}

.dialog_container .dialog_footer {
	-fx-alignment: center-right;
	-fx-spacing: 10;
}

.dialog_container .dialog_footer .dialog_action {
	-fx-font-size: 11pt;
	-fx-padding: 8 12;
	-fx-background-insets: 0;
	-fx-background-color: transparent;
	-fx-cursor: hand;
}

.dialog_container .dialog_footer .dialog_action:hover {
	-fx-background-color: #d9d9d9;
}

.dialog_container .dialog_error {
	-fx-font-size: 10pt;
	-fx-font-weight: bold;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-text-fill: #f82323;
}
